/* @import url('fonts.googleapis.com'); */


.container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.brush{
  fill:black;
}

.ball{
    border-radius: 50%;
    background-color: aquamarine;
    display: grid;
    aspect-ratio: 1;
    width:5vw;
    position: absolute;
    font-family: "Lato", sans-serif;
    font-size:medium;
    font-weight: 700;
    place-items: center;
    text-align: center;
    z-index: 2;
    top: 20%;    
    left: 50%;
    color: "#ffffff00";
    pointer-events: auto;
}
.shadow{
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  width: 5vw;
  height: 1.5vw;
  position: absolute;
  filter: blur(4px);
}

.shadow2{
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  width: 5vw;
  aspect-ratio: 1;
  position: absolute;
  filter: blur(4px);
  z-index: 1;
  visibility: hidden;
  opacity: 0;
}

.brush_stroke{
  opacity:0;
  visibility:hidden;
  overflow: visible;
  position: absolute;
  width: 100px;
  height: 100px;
  will-change: transform, opacity, attr;
  transform-origin: center;
}

#brush-target, 
#maskCircle{
  will-change: transform, opacity, attr;
  transform-origin: center;
}

body {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  width:100%;
  height:100%;
  margin: 0;
  overflow: hidden;
  pointer-events: none;
}